body{
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
}

.card{
    background-color: #1b1b32;
    color: #ffffff;
    font-size: 20px;
    font-family: Tahoma;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.card-header{
    border: none;
    border-bottom: 1px solid #ffffff;
}

.card-body{
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 5px;
}

.form-label{
    display: block;
    margin: 10px auto;
    color:#ffffff
}

.form-control{
    margin: 10px auto;
    width: 100%;
    min-height: 2em;
    background-color: #25255a;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

button{
    background-color: #0070c0;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.boton:hover {
    background-color: #0057a0;
}