*{
    background-color: #1b1b32;
    color: #f5f6f7;
    font-size: 20px;
    font-family: Tahoma;
    justify-content:center;
}
body{
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
}

.estilo.card{
    width: 800px;
    min-height: 2em;
    margin-top: 10px;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #1b1b32;
    color:#ffffff ;
}

.cuerpo.card-body{
    border: none;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    padding: 5px;
}
.card-footer{
    border: none;
    padding: 5px;
}

.form-label{
    display: block;
    margin: 10px auto;
}

.form-control{
    margin: 10px auto;
    width: 100%;
    min-height: 2em;
    background-color: #25255a;
    border: 1px solid #0a0a23;
}

button{
    background-color: #0070c0;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.boton:hover {
    background-color: #0057a0;
}